# GENERAL
.env
.env.*
!**/.env.example
*.log
*.swp
*.swo
.DS_Store
Thumbs.db
.vscode/
.idea/

# NODE / EXPO
node_modules/
.expo/
dist/
build/

# LARAVEL
vendor/
storage/
**/bootstrap/cache/

# DATABASE
*.sql
backup/

# DOCKER
docker-compose.override.yml

# Allow sharing example env for mobile app
!mobile/.env.example

# github
.github/
